{{ "<!-- About Section -->" | safeHTML }}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.about.title }}{{ . }}{{ end }}</h2>
                {{ range .Site.Params.about.list }}
                    <h3 class="section-subheading text-muted text-left about-text">{{ .subtitle | markdownify }}</h3>
                {{ end }}
            </div>
        </div>
    </div>
</section>
