{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.contact.subtitle }}{{ . }}{{ end }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form  action="{{ with .Site.Params.contact_form_submit_path }}{{.}}{{ end }}" method="POST" name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{ with .Site.Params.contact.form.name.text }}{{ . }}{{ end }}" name="name" id="name" required data-validation-required-message="{{ with .Site.Params.contact.form.name.warning }}{{ . }}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="{{ with .Site.Params.contact.form.email.text }}{{ . }}{{ end }}" name="email" id="email" required data-validation-required-message="{{ with .Site.Params.contact.form.email.warning }}{{ . }}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="{{ with .Site.Params.contact.form.phone.text }}{{ . }}{{ end }}" name="phone" id="phone" required data-validation-required-message="{{ with .Site.Params.contact.form.phone.warning }}{{ . }}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="{{ with .Site.Params.contact.form.message.text }}{{ . }}{{ end }}" name="message" id="message" required data-validation-required-message="{{ with .Site.Params.contact.form.message.warning }}{{ . }}{{ end }}"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <input type="hidden" name="_next" value="{{ with .Site.Params.contact_form_thanks_page }}{{ . }}{{ end }}" />
                        <input type="hidden" name="_subject" value="New submission!" />
                        <input type="text" name="_gotcha" style="display:none" />
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">{{ with .Site.Params.contact.buttonText }}{{ . }}{{ end }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
