{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                {{ if .Site.Params.logo }}
                    <img class="site-logo" src="{{ .Site.BaseURL }}{{.Site.Params.logo}}" alt="Site Logo" />
                {{end}}
            </a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/#services">{{ with .Site.Params.navigation.services }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#pricing">{{ with .Site.Params.navigation.pricing }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#about">{{ with .Site.Params.navigation.about }}{{ . }}{{ end }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#contact">{{ with .Site.Params.navigation.contact }}{{ . }}{{ end }}</a>
                </li>
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
