<!--pricing tables 2-->
<section id="pricing" class="container show-source">
  <div class="row pricing-plan">
    
    {{ range .Site.Params.pricing.list }}
    <div class="col-md-3">
      <div class="panel panel-plan">
       <div class="panel-heading"><h3 class="text-center">{{ .title }} </h3></div>
        <ul class="list-group list-group-flush text-center">
          {{ range .features }}
            <li class="list-group-item"><i class="icon-ok text-danger"></i>{{ . }}</li>
          {{ end }}
        </ul>
        <div class="panel-body text-center">
          {{ if .price }}
          <div class="price">
            <h3><span class="symbol">£</span>{{ .price }}</h3>
            <h4>per month per user</h4>
          </div>
          {{ else }}
          <div>
            <p class="lead" style="font-size:15px"><strong>Contact us for best plan to suite your needs</strong></p>
          </div>
          {{ end }}
        </div>
        <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-success" href="{{ .signup_link }}">START FREE TRIAL!</a>
        </div><!--/panel-footer-->
      </div><!--/panel-->
    </div><!--/col-->
    {{ end }}
    
    {{ with .Site.Params.pricing }}
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ .promotion_text }}</h2>
      </div>
    {{ end }}
    
  </div><!--/row-->
</section><!--/container-->

    