{{ "<!-- Services -->" | safeHTML }}
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.services.title }}{{ . }}{{ end }}</h2>
            </div>
        </div>
        <div class="row text-center">
            {{ range .Site.Params.services.list }}
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ .title }}</h4>
                <p class="text-muted">{{ .description | markdownify }}</p>
            </div>
            {{ end }}
        </div>
        
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.services2.title }}{{ . }}{{ end }}</h2>
            </div>
        </div>
        <div class="row text-center">
            {{ range .Site.Params.services2.list }}
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ .title }}</h4>
                <p class="text-muted">{{ .description | markdownify }}</p>
            </div>
            {{ end }}
        </div>

    </div>
</section>
