<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
</head>
    <body id="page-top" class="index">
        <div class="container">
            <div class="page-header">
                {{ partial "normal_nav.html" . }}    
            </div>
            <div class="row">
                {{ .Content }}  
            </div>
            {{ partial "footer.html" . }}
            {{ partial "modals.html" . }}
            {{ partial "normal_js.html" . }}
        </div>
    </body>
</html>
